aiohttp==3.8.3
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
boto3==1.24.47
botocore==1.27.47
certifi==2022.6.15
charset-normalizer==2.1.0
clipboard==0.0.4
coreapi==2.3.3
coreschema==0.0.4
cycler==0.11.0
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1
django-auto-prefetching==0.2.12
django-ckeditor==6.1.0
django-cors-headers==3.14.0
django-countries==7.3.2
django-crispy-forms==1.13.0
django-environ==0.8.1
django-filter==22.1
django-heroku==0.3.1
django-js-asset==1.2.2
django-phonenumber-field==7.0.2
django-rest-passwordreset==1.3.0
django-storages==1.13.1
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dnspython==2.2.1
dnstwist==20221022
drf-yasg==1.21.5
filelock==3.8.0
fonttools==4.29.1
frozenlist==1.3.1
geoip2==4.6.0
gunicorn==20.1.0
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
maxminddb==2.2.0
multidict==6.0.4
packaging==23.0
phonenumbers==8.13.7
Pillow==9.4.0
psycopg2==2.9.5
PyJWT==2.6.0
pyperclip==1.8.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
random-password-generator==2.2.0
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
shortuuid==1.0.11
six==1.16.0
sqlparse==0.4.3
stripe==5.4.0
typing_extensions==4.5.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.15
whitenoise==6.4.0
yarl==1.8.2
