<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Your Email Address</title>
    </head>
    <body>
        <h2>Hello {{ user.first_name }},</h2>
        <p>Welcome to Smart Learning! Please confirm your email address by clicking on the following link:</p>
        <a href="http://{{ domain }}/users/confirm-email/{{ uid }}/{{ token }}">Confirm Email</a>
        <p>If you didn't sign up for our site, please ignore this email.</p>
        <p>Best regards,</p>
        <p>The Smart Learning Team</p>
    </body>
</html>
